body{
    background-color: rgb(246, 253, 254);
}
.infophoto{
    height: 250px;
}
.info{
    float: left;
}
.photo{
    float: right;
}
.section{
    margin-bottom: 70px;
    text-align: justify;
}
.sec-gauche{
    float: left;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
 
}
.sec-droite{
    margin-left: 150px;
}
.petit{
    font-size: 28px;
    color: #3388BB;
    border-bottom: 3px solid #3388DD;
}
.titre{
    font-weight: bold;
}
.ref{
    font-size: 28px;
    color: #3388BB;
  
}
.habillage{
    width: 780px;  
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
    border: 5px solid #3388CC;
    border-radius: 10px ;
    box-shadow: 2px 4px 3px #3388BB;
    padding: 75px;
    background-color:whitesmoke;
}
.fonction{
    font-size: 35;
    font-weight: bolder;
    color: #3388BB;
}   